[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
binance-historical-data = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"

[script]
get = "python3 /home/lux/dev/go_trading_bot/pkg/utils/get_csv_data/get_data.py"
